@charset "utf-8";


/* ==============================
   SETTING DEFAULT ELEMENT STYLES
   ==============================
*/

/* article, aside, figcaption, figure,
footer, header, main, nav, section { 
   display: block;
}

aside, body, 
div, dl, dt, dd, em, footer, 
h1, h2, header, html, img, 
li, main, nav, nav a, ol, p, section, ul,
table, tr, td, th {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   background: transparent;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;  
} */


body {
    margin: 0;
   line-height: 1.2em;
   font-family: Arial, Helvetica, sans-serif;
}


html, body{
    height: 100%;
  }

.cc_nav {
    display: flex;
    width: 40%;
    margin-top: 0;
    padding-top: 10px;
    height: 20%;
    align-items: center;
    justify-content: center;
  }

  .cc_nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
  }
  
  a{
    text-decoration: none;
    color: rgba(0,0,0,0.8);
    margin: 0 40px;
    font-family: Tenar Sans, sans-serif;
    font-size: .8em;

  }


    a {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        position: relative;
        overflow: hidden;
    }
        
       a:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: 0;
            left: 0;
            background-color: rgb(192,192,192); 
            visibility: hidden;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
          }

          a:hover:before {
            visibility: visible;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
          }
  
  
  #logo_Claire {
    height: auto;
    width: auto;
    max-height: 140px;
    max-width: 300px;
  }


#moodboard {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width:100%;
    margin-top: 260px;
}

  /* Responsive navigation menu (for mobile devices)
  @media screen and (max-width: 820px) {
    .cc_nav a {display: none;}
    .rc_nav a.icon {
      float: right;
      display: block;
      width: 60px;
    }
  }
  
  @media screen and (max-width: 820px) {
    .rc_nav.responsive {position: relative; top: 73px;}
    .rc_nav.responsive .icon {
      position: fixed;
      right: 0;
      top: 0;
    }
    .rc_nav.responsive a {
      float: none;
      display: block;
      text-align: center;
    }
  
  } */


 